.gallery{
    width:900px;
    display: flex;
    overflow-x: scroll;
    padding: 20 px;
    padding-top: 10px;
    height: auto;
    margin-top: 10px;
}
.gallery div{
    width:100%;
    display:grid;
    grid-template-columns: auto auto  auto ;
    grid-gap:20px;
    padding: 10px;
    padding-top: 0px;
    flex: none;
}
.gallery div img{
    width: 100%;
    height: fit-content;
    filter: grayscale(50%);
    transition: transform 0.5s;
}
.gallery::-webkit-scrollbar{
    display: none;
}
.gallery-wrap{
    display:flex;
    align-items: center;
    justify-content: center;
    
}
#backBtn ,#nextBtn{
    width:50px;
    cursor: pointer;
    padding: 10px;
    margin: 40px;
    border-radius: 100%;
}
#backBtn{
    transform: rotate(180deg);
}
.gallery div img:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
    
}
.font{
    color: aliceblue;
}
