<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Favorites</title>
    <style>
        body{
            background-image: url(../images/1.webp);
        }
        h3{
            color: white;
        }
    </style>
</head>
<body>
    <% favList.forEach(item => { %>
        <h3><%= item.creatureName %></h3>
    <% }) %>
</body>
</html>