<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="css/creature.css">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
  <title>WMC-0.4</title>
  <style>
   
    a{
        text-decoration: none;
        color: black;
    }
    .btn:hover{
        background-color: rgb(24, 203, 48);
        border-color: none; 
    }
    a:hover{
        
        color: rgb(255, 255, 255);
    }
 
    a.Search{
        color: black;
    }
  </style>
</head>

<body>       
    <div class="container1"  id="header" >
        <div class="background">
        
            <div class="container1" >
            <div class="header-background">           
        <header class="p-3 text-bg-dark-opacity-0 mb-2 "   >
            
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center pr-2 mb-2 mb-lg-0 text-white text-decoration-none">
                 <img src="images/flying_harry.webp" class="svg-image" alt=""width="40" height="32" role="img" aria-label="Bootstrap" >
                </a>
        
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                  <li><a href="#header" class="nav-link first px-2 text-white ml-3">Home</a></li>
                  <li><a href="#Characters" class="nav-link px-2 text-white">Characters</a></li>
                  <li><a href="#Hogwarts" class="nav-link px-2 text-white">Houses</a></li>
                  <li><a href="#Creature" class="nav-link px-2 text-white">Creatures</a></li>
                  <li><a href="#" class="nav-link px-2 text-white">About</a></li>
                </ul>
               
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                  <input type="search" class="form-control form-control-dark text-bg-black" placeholder="Search..." aria-label="Search">
                </form>
        
                <div class="text-end">
                    <form action="/" method="post">
                        <button type="submit" name="button" class="btn btn-warning me-2 "><%= btnValue %></button>
                            <!-- <a href = "login.html" style="color: black;text-decoration:none ">Login</a></button> -->
                    </form>
                  
                 
                </div>
              </div>           
          </header>
            </div>
            </div>    
        </div>
   
        
    
    <div class="container" id="Characters"style="width:100%">
    <div class="header">
        <h1 style="font-family: 'Sacramento';font-size: 80px;color:rgb(255, 255, 255);font-weight:400">Characters</h1>
    </div>

    <!-- Photo Grid -->
    <div class="row">

        <div class="column">
            <div class="img-hover-zoom">
                <img src="images/Albus Dumbledore (1).jpg" style="width:100%" alt="">
                <div class="middle">
                    <div class="text">John Doe</div>
                  </div>
            </div>
            <div class="img-hover-zoom">
                <img src="images/Albus Dumbledore (2).jpg" style="width:100%" alt="">
            </div>
            <div class="img-hover-zoom">
                <img src="images/Argus Filch (1).jpg" style="width:100%" alt="">
            </div>
        </div>

        <div class="column">
            <div class="img-hover-zoom">
                <img src="images/image (4).png" style="width:100%" alt="">
            </div>
            <div class="img-hover-zoom">
                <img src="images/flying_harry.webp" style="width:100%" alt="">
            </div>
            <div class="img-hover-zoom">
                <img src="images/Argus Filch (2).jpg" style="width:100%" alt="">
            </div>
            <div class="img-hover-zoom">
                <img src="images/Gryffindor.png" style="width:100%" alt="">
            </div>
            
        </div>

        <div class="column">
            <div class="img-hover-zoom">
                <img src="images/harry_family.avif" style="width:100%" alt="">
            </div>
            <div class="img-hover-zoom">
                <img src="images/Hermione Granger.jpg" style="width:100%" alt="">
            </div>
            <div class="img-hover-zoom">
                <img src="images/Ronald Bilius.jpg" style="width:100%" alt="">
            </div>
            
            
        </div>

        <div class="column">
            <div class="img-hover-zoom">
                <img src="images/Professor Aurora Sinistra (2).jpg" style="width:100%" alt="">
            </div>
            <div class="img-hover-zoom">
                <img src="images/horror_city.jpg" style="width:100%" alt="">
            </div>
            <div class="img-hover-zoom">
                <img src="images/Professor Aurora Sinistra (2).jpg" style="width:100%" alt="">
            </div>
         
        </div>

    </div>
    <div class=" house" id="Hogwarts">
        <div class="outer-house-description" style="width:100%;text-align:center">
            <div><h1 class="house-name" >Hogwarts House Hub</h1> </div>
             <div class="house-description" style="text-align:center; padding-bottom:25px">
                These four houses form an integral part of the Hogwarts School of Witchcraft and Wizardry, where students are sorted into their respective houses based on their traits and characteristics during the Sorting Ceremony at the beginning of each school year. Throughout the year, the houses compete for points, and the house with the most points is awarded the prestigious House Cup.
            </div>
        </div>
        <div class="Desktop1" style="width: 100%;  position: relative;display:flex;flex-direction:column ">
            <div class="container" style="width:100%;">
                <div class="Rectangle1" style="width: 100%; display:flex; flex-direction:column ;left: 0px; top: 0px; position: relative; background: linear-gradient(90deg, #37040F 0%, #6B2B2B 46%, rgba(31.66, 19.39, 19.39, 0.27) 100%); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset ; display:flex; flex-direction:row">
                <img class="Gryffindor1" style="width: 45%;flex:45%;  left: 0px; top: 0px; position:relative" src="./images/Gryffindor.png" />
                <div class="info-div" style="width: 55%;flex:55%;  position: relative">
                    <div class="Gryffindor trans" style="width: 90%;vertical-align: middle;  left: 5%; position: relative; text-align: center;  color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Gryffindor is known for its brave and courageous members. The house was founded by Godric Gryffindor and values traits such as chivalry, daring, and nerve. Gryffindor students are often known for their bravery and willingness to stand up for what is right. Notable members of Gryffindor include Harry Potter, Hermione Granger, and Ron Weasley.</div>
                </div>
            </div>
            </div>
            <div class="container" style="width:100%">
                <div class="Rectangle2" style="width: 100%; display:flex;flex-direction:column ; left: 0px; top: 0px; position: relative; background: linear-gradient(270deg, #0D2B2B 0%, rgba(33, 69, 67, 0.81) 62%, rgba(31.66, 19.39, 19.39, 0.25) 100%); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset; display:flex; flex-direction:row;flex-wrap: wrap;">              
                    <div class="info-div" style="width: 55%; position: relative">
                        <div class="Slytherin trans" style="width: 90%;  left: 5%; justify-content:center;align-items:center; position: relative; text-align: center; color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Slytherin is known for its ambitious, cunning, and resourceful members. It was founded by Salazar Slytherin. Slytherin students are often associated with the desire for power and success. They value ambition and can be highly determined in achieving their goals. Notable members of Slytherin include Draco Malfoy and Severus Snape.</div>               
                    </div>
                <img class="Slytherin1" style="width: 45%; flex:45%; left: 0px; top: 0px; position: relative;justify-content:flex-end" src="./images/Slytherin.png" />
                
            </div>
            </div>
            <div class="container" style="width:100%">
                <div class="Rectangle3" style="width: 100%; display:flex;flex-direction:column ; left: 0px; top: 0px; position: relative; background: linear-gradient(270deg, rgba(31.66, 19.39, 19.39, 0.27) 0%, rgba(72, 53, 21, 0.84) 43%, #433115 100%); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset ; display:flex; flex-direction:row">
                <img class="Hufflepuff1" style="width: 45%; flex:45%; left: 0px; top: 0px; position: relative" src="./images/Hufflepuff.png" />    
                <div class="info-div" style="width: 55%;justify-content:center;align-items:center;  position: relative">
                    <div class="Hufflepuff trans" style="width:90%;  left: 5%; justify-content:center;align-items:center; position: relative; text-align: center; color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Hufflepuff is a house that values hard work, dedication, patience, loyalty, and fair play. It was founded by Helga Hufflepuff. Hufflepuff students are known for their kindness and inclusivity. They value friendship and are often loyal to their friends. Notable members of Hufflepuff include Cedric Diggory and Newt Scamander.</div>              
                </div>
            </div>
            </div>
            <div class="container" style="width:100%">
                <div class="Rectangle4" style=" width: 100%;display:flex;flex-direction:column ; left: 0px; top: 0px; position: relative; background: linear-gradient(270deg, #111B27 0%, rgba(38, 54, 79, 0.77) 59%, rgba(31.66, 19.39, 19.39, 0.25) 100%); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset ; display:flex; flex-direction:row">      
                    <div class="info-div" style="width: 55%;justify-content:center;align-items:center; left:0px;  position: relative">
                        <div class="Ravenclaw trans" style="width: 90%; left: 5%; justify-content:center;align-items:center; position: relative; text-align: center; color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Ravenclaw is the house of intelligence, creativity, wit, and wisdom. It was founded by Rowena Ravenclaw. Ravenclaw students are known for their pursuit of knowledge and their love for learning. They value intellect and are often seen as highly intelligent individuals. Notable members of Ravenclaw include Luna Lovegood and Cho Chang.</div>                   
                    </div>
            <img class="Ravenclaw1" style="width: 45%; flex:45%; left: 0px; top: 0px; position: relative" src="./images/Ravenclaw.png" />
                
            </div>
            </div>
        </div>     
    </div>
    </div>
    <!-- Adding creature list of hogwart lagacy -->
    <div class="header">
        <h1 class="Creature" id="Creature" style="font-family: 'Sacramento';font-size: 80px;color:rgb(255, 255, 255);padding-bottom:0%">Magical Creature</h1> </div>

    <div class="media-container" style="display: flex; ">
        <div class="media-scroller">
          <!--   Group 1 -->
          <div class="media-group" id="group-1">
            <!-- <a class="previous" href="#group-4">
                <svg>
                    <use href="#previous"></use>
                  </svg>
              </a> -->
            <div class="media-element">
              <img src="./images/Albus Dumbledore (2).jpg" alt="" />
            </div>
            <div class="media-element">
              <img src="./images/Gryffindor.png" alt="" />
            </div>
            <div class="media-element">
              <img src="./images/flying_harry.webp" alt=""/>
            </div>
            
            <!-- <a class="next" href="#group-2" aria-label="next">
              <svg>
                <use href="#next"></use>
              </svg>
            </a> -->
          </div>
          <!-- Group 2   -->
          <div class="media-group" id="group-2">
            <!-- <a class="previous" href="#group-1">
              <svg>
                <use href="#previous"></use>
              </svg>
            </a> -->
            <div class="media-element">
              <img src="./images/harry_family.avif" alt="" />
            </div>
            <div class="media-element">
              <img src="./images/horror_city.jpg" alt="" />
            </div>
            <div class="media-element">
              <img src="./images/Hogwarts Parallax.png" alt=""/>
            </div>
           
            <!-- <a class="next" href="#group-3" aria-label="next">
              <svg>
                <use href="#next"></use>
              </svg>
            </a> -->
          </div>
          <!-- Group 3   -->
          <div class="media-group" id="group-3">
            <!-- <a class="previous" href="#group-2">
                <svg>
                    <use href="#previous"></use>
                  </svg>
                </a> -->
                <div class="media-element">
                  <img src="./images/Professor Aurora Sinistra.jpg" alt="" />
                </div>
                <div class="media-element">
                  <img src="./images/landing page.jpg" alt="" />
                </div>
                <div class="media-element">
                  <img src="./images/Ronald Bilius.jpg" alt=""/>
                </div>
                
                <!-- <a class="next" href="#group-4" aria-label="next">
                  <svg>
                    <use href="#next"></use>
                  </svg>
                </a> -->
              </div>
              <!--  Group 4  -->
              <div class="media-group" id="group-4">
                <!-- <a class="previous" href="#group-3">
                  <svg>
                    <use href="#previous"></use>
                  </svg>
                </a> -->
               <div class="media-element">
                  <img src="./images/Argus Filch.jpg" alt="" />
                </div>
                <div class="media-element">
                  <img src="./images/harry_family.avif" alt="" />
                </div>
                <div class="media-element">
                  <img src="./images/Professor Aurora Sinistra (2).jpg" alt=""/>
                </div>
                <!-- <a class="next" href="#group-1" aria-label="next">
                    <svg>
                      <use href="#next"></use>
                    </svg>
                  </a> -->
              </div>
             
          </div>

          <svg>
            <symbol id="next" viewBox="0 0 256 512">
              <path fill="white"
                d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z" />
            </symbol>
            <symbol id="previous" viewBox="0 0 256 512">
              <path fill="white"
                d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z" />
            </symbol>
          </svg>  
          </div>  

    
</div>   
<script>
    let scrollContainer = document.querySelector(".media-scroller");
    let backBtn = document.getElementById("previous");
    let nextBtn = document.getElementById("next");

    scrollContainer.addEventListener("wheel", (evt) =>{
        evt.preventDefault();
        scrollContainer.scrollLeft += evt.deltaY;
        scrollContainer.style.scrollBehavior = "auto";
    })
    nextBtn.addEventListener("click" ,()=>{
        scrollContainer.style.scrollBehavior = "smooth";
        <!-- scrollContainer.scrollLeft += 400; -->
    })
    backBtn.addEventListener("click" ,()=>{
        scrollContainer.style.scrollBehavior = "smooth";
        scrollContainer.scrollLeft -= 400;;
    })

</script>  

<!-- <script src="./app.js" charset="utf-8"></script> -->
</body>

</html>


