@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');


#collage hr{
    border:none;
    border-top:2px solid #f5f2f2;
    height:1px;
}

#collage #playPanel {
    background-color:#0f1b2800;
    padding:10px 0px;
    margin: 10px auto;
    max-width:800px;
    width:95%;
}
#collage #title{
    color:#fff;
    font-size: 68px;
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
}
#collage #actualImageBox {
    display: inline-block;
    font-size:0.8em;
    margin: 10px 10px;
    vertical-align: top;
    width:280px;
}

/* #collage #stepBox, #collage #timeBox {
    display:inline-block;
    width:48%;
} */

#collage #stepBox div {
    background-color:#0a0a23;
    color: #fff;
    
    display:inline-block;
    padding:1px 2px;
    margin: 0px ;
    max-width:800px;
}

#collage img#actualImage{
    border:2px solid rgb(255, 255, 255);
    height:280px;
    width:280px;
}

#collage #sortable {
    border:2px solid rgb(255, 255, 255);
    list-style-type: none;
    display: inline-block;
    margin: 10px;
    padding: 0;
    width: 400px;
}

    #collage #sortable li {
        background-size: 500% 400%;
        border: none;
        cursor: pointer;
        margin: 0;
        padding: 0;
        float: left;
        width: 100px;
        height: 100px;
    }

#collage button  {
    display: inline;
    font-size: 14px;
    height: auto;
    width: auto;
    padding: 3px 8px;
    background-color:#0a0a23;
    color: #fff;
    border: 3px solid #666;
    border-radius:10px;
}
.instruction{
    font-family: 'Cookie', cursive;
    color: #fff;
    font-size: 22px;
}
#levelPanel{
    font-family: 'Cookie', cursive;
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin: 10px 0px;
}
.button{
    display: flex;
    justify-content: center;
}
