
body{
    background-image: url(../images/1.webp);         
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.featured__wrapper{
  z-index: -1;
}

ul{
    align-items: center;
    margin-left: auto;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
.background{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    min-height: 100vh; 
    padding: 0px;
    margin-bottom: 0px;
    box-sizing: border-box;
    box-shadow:inset 0px 150 -100px  rgba(0, 0, 0, 0.993);
  }

  
.header-background{
   background-color: rgb(0, 0, 0);
    display: block;
    position:relative;
    width: 100%;
    z-index: 1000;
}

.container1{
    width: 100%;
    position: absolute;
    opacity: 100%;
    top: 0px;
    left: 0px;
}
.container2{
    width: 100%;
    position: relative;
    opacity: 100%;
    top: 0px;
    left: 0px;
    /* z-index: 5; */
    margin-top: -1%;
}
.need{
    width:100%;
}
div.header-background {
    background: rgba(7, 7, 22, 0.432);
}
.header-background:hover{
    background: rgba(7, 7, 22, 0.432);
}
/* a.Search{
    color: black;
} */
.first{
    margin-left: 25px;
}
.svg-image{
    margin-left: 30px;
    border-radius: 30%;
}
.text-end{
    margin-right: 50px;
}


.trans{
transition: transform 0.5s;
}
.trans:hover{
cursor: pointer;
transform: scale(1.1);
}
.character{
filter: grayscale(50%);
transition: transform 0.5s;
}



.checkbox{
  /* z-index: 10; */
}

.checkbox:hover{
  cursor: pointer;
}

.character img {
width: 125%;
border-radius: 10px;
padding-left: 8px;

}

.gallery::-webkit-scrollbar{
display: none;
}
.gallery-wrap{
display:flex;
align-items: center;
justify-content: center;

}


.h11{
font-family: 'Dancing Script', cursive;
margin-left: 10%;
margin-top: 3%;
font-size: 50 px;
font-weight: 400;
color: rgb(255, 255, 255);

}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
  }
  
  .container {
    /* padding: 5px; */
    width: 300px;
  }
  body{
    background-color: #e0e0e5;
  }
  input[type="search"] {
    /* -webkit-appearance: none !important; */
    background-clip: padding-box;
    background-color: white;
    vertical-align: middle;
    border-radius: 0.25rem;
    border: 1px solid #e0e0e5;
    font-size: 1rem;
    width: 100%;
    line-height: 2;
    padding: 0.375rem 1.25rem;
    -webkit-transition: border-color 0.2s;
    -moz-transition: border-color 0.2s;
    transition: border-color 0.2s;
  }
  
  input[type="search"]:focus {
    transition: all 0.5s;
    box-shadow: 0 0 40px #f9d442b9;
    border-color: #f9d342;
    outline: none;
  }
  
  form.search-form {
    display: flex;
    justify-content: center;
  }
  
  label {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    align-self: center;
    margin-bottom: 0;
  }
  
  input.search-field {
    margin-bottom: 0;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    align-self: center;
    height: 51px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  input.search-submit {
    height: 51px;
    margin: 0;
    padding: 1rem 1.3rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    font-family: "Font Awesome 5 Free";
    font-size: 1rem;
  }
  
  .screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
  
  .button {
    display: inline-block;
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 1.15;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    background: #f9d342;
    color: #292826;
    border: 1px solid transparent;
    vertical-align: middle;
    text-shadow: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  .button:hover,
  .button:active,
  .button:focus {
    cursor: pointer;
    background: #d4b743;
    color: #292826;
    outline: 0;
  }

@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

*{
 box-sizing: border-box;
}


.row{
 display: flex;
 flex-wrap: wrap;
 padding: 0px 100px 100px 100px;
}
.column{
 flex: 25%;
 max-width: 25%;
}
.img-hover-zoom{
 height: auto;
 overflow: hidden;
 position: relative;
 border: 5px solid #ffff;
}
.img-hover-zoom img{
 vertical-align: middle;
 margin: 0;
 padding: 0;
 border: 0;
 transition:  transform .5s ease;
}
.img-hover-zoom:hover img{

 opacity: 0.3;
}

.img-hover-zoom:hover{
 background: rgb(81, 90, 90);
}
.middle {
 /* visibility: hidden; */
 transition: .5s ease;
 opacity: 0;
 position: absolute  ;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
 text-align: center;
}

.img-hover-zoom:hover .middle{
 opacity: 1;
}


.text{
 /* background-color: #04AA6D;    */
 color: white;
 font-size: 16px;
     padding: 16px 32px;
}

@media screen and (max-width: 800px) {
 .column{
     flex: 50%;
     max-width: 50%;
 }
}

@media screen and (max-width: 500px) {
 .column{
     flex: 100%;
     max-width: 100%;
 }
}

/*footer */
.lazy-bg.loaded {
opacity: 1;
display: flex;

}

/* .footer {
padding-top: 80px;
} */
.lazy-bg {
opacity: 0;
transition: opacity .4s;
}
.footer {
color: #fcf5e7;
/* background-image: url(../images/footer.webp); */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
border-top: 10px solid #a85;
padding: 50px 0 40px;
position: relative;
overflow: hidden;
/* margin-top: 5%; */
display: block;
}
.footer-logo{
background-position: center;
background-size: cover;
transition: color .25s;
height: 102px;

}
.footer .footer__wrapper {
max-width: 1180px;
margin: 0 auto;
padding: 0 40px;
position: relative;
}
.footer .footer__menu {
padding-right: 0;
}
.footer .footer__menu {
flex-wrap: wrap;
justify-content: space-between;
padding-right: 10%;
display: flex;
}
a{
text-decoration: none;
color: black;
}
.btn:hover{
background-color: rgb(24, 203, 48);
border-color: none; 
}
a:hover{

color: rgb(255, 255, 255);
}

a.Search{
color: black;
}
.shopify-section{

text-size-adjust: none;
font-family: Crimson Text,serif;
font-size: 16px;
font-weight: 400;
line-height: 22px;
color: #fcf5e7;
box-sizing: border-box;
margin: 0;
padding: 0;
position: relative;

}
.featured{
overflow: hidden;
}
.featured__wrapper{
max-width: 100%;
margin: 0 auto;
margin-top: 1%;
z-index: -1;
}

div.featured .featured__carousel{
position: relative;
justify-content: center;
/* display: flex; */
}


div.featured .featured__slide.active {
display: block;
max-width: 100%;
}

div.featured .featured__slide {
height: 535px;
background-position: 0;

background-repeat: no-repeat;
display: none;
position: relative;
}

@media (max-width: 991px){
.featured .featured__slide {
background-position: 0;
}
.featured .featured__panel {
width: 100%;
}
.featured .featured__title {
font-size: 38px;
}
.featured p {
font-size: 18px;
line-height: 26px;
}


}

@media (max-width: 767px){
div.featured .featured__panel {

padding: 50px 60px 30px;
position: relative;
}
.featured .featured__panel {
margin-bottom: 1em;
}

div.featured .featured__slide {
height: 400px;
background-position: 80%;
}
}
.lazy-bg.loaded {
opacity: 1;
}
.lazy-bg {
opacity: 0;
transition: opacity .4s;
}
div.featured .ltr .featured__panel {
left: 0;
}
div.featured .featured__panel {
max-width: 100%;
color: #fcf5e7;
background-color: #0d141e;
padding: 66px 60px;
position: relative;
bottom: 0;
}

div.featured .featured__frame {
position:absolute;
top: 20px;
bottom: 20px; 
left: 20px;
right:20px;
/* z-index: -1; */
}
div.featured .featured__frame .line.top {
height: 1px;
top: 0;
left: 20px;
right: 20px;
position: absolute;
z-index: 1000;
}
div.featured .featured__frame .line {
background-color: #a85;
position: absolute;
}
div.featured .featured__frame .line.top:before {
height: 21px;
width: 1px;
top: 0;
left: 0;
}
div.featured .featured__frame .line:before, div.featured .featured__frame .line:after {
content: "";
background-color: #a85;
position: absolute;
}
div.featured .featured__frame .line.top:after {
height: 21px;
width: 1px;
top: 0;
right: 0;
}
div.featured .featured__frame .line.left {
width: 1px;
top: 20px;
bottom: 20px;
left: 0;
}
div.featured .featured__frame .line.left:before {
width: 21px;
height: 1px;
bottom: 0;
left: 0;
}
div.featured .featured__frame .line.left:after {
width: 21px;
height: 1px;
top: 0;
left: 0;
}
div.featured .featured__frame .line.right {
width: 1px;
top: 20px;
bottom: 20px;
right: 0;
}
div.featured .featured__frame .line.right:before {
width: 21px;
height: 1px;
bottom: 0;
right: 0;
}
div.featured .featured__frame .line.right:after {
width: 21px;
height: 1px;
top: 0;
right: 0;
}
div.featured .featured__frame .line.bottom {
height: 1px;
bottom: 0;
left: 20px;
right: 20px;
}
div.featured .featured__frame .line.bottom:before {
height: 21px;
width: 1px;
bottom: 0;
left: 0;
}
div.featured .featured__frame .line.bottom:after {
height: 21px;
width: 1px;
bottom: 0;
right: 0;
}
div.featured .featured__frame .square.tl {
top: 12px;
left: 12px;
}
div.featured .featured__frame .square {
width: 16px;
height: 16px;
border: 1px solid #a85;
position: absolute;
}
div.featured .featured__frame .square.tr {
top: 12px;
right: 12px;
}
div.featured .featured__frame .square.bl {
bottom: 12px;
left: 12px;
}
div.featured .featured__frame .square.br {
bottom: 12px;
right: 12px;
}
div.featured .featured__title {
font-size: 45px;
line-height: 1.1em;
}
h2 {
font-family: bluu_nextbold,Crimson Text,serif;
font-size: 28px;
font-weight: 600;
line-height: 34px;
}
div.featured p {
margin: 20px 0;
font-size: 21px;
line-height: 30px;
}
p {
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}
.Title-magical-creature{
color: #a85;
font-family: 'Sacramento';
font-size: 70px;
font-weight: 400;
}
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

/* frontend/styles.css */

.autocomplete {
  position: relative;
  width: 300px;
  margin: 50px auto;
}

#autocompleteList {
  position: absolute;
  width: 80%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  /* border: 1px solid #ccc; */
  background-color: #ffffffa3;
}

#autocompleteList li {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
}

#autocompleteList li:hover {
  background-color: #8c8c8c60;
}
