body {
    font-family: 'Segoe UI', Calibri, Arial;
    margin:0;
    /* background:; */
}
h2{
    font-weight:normal;
    text-align:center;
}
h3{
    font-weight:normal;
    margin:3px 0px;
    text-align:center;
    color: #fff;
    font-family: 'Berkshire Swash', cursive;
    font-size: 24px;
}
body{
    background-image: url(../images/smoke-background.webp);
    background-size: cover;
}