@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background:url("https://iili.io/HsQYcNf.jpg")no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    height: auto;
    
}


svg {
	font-family: 'Monoton', cursive;
	width: 100%; height: 100%;
    margin-top:2%;
}
.svg-text{
	animation: stroke 5s infinite alternate;
	stroke-width: 2;
	stroke: #FF71F9;
	font-size: 80px;
}


@keyframes stroke {
	0%   {
		fill: rgba(27,174,255,0); stroke: rgba(255,113,249,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(27,174,255,0); stroke: rgba(255,113,249,1); }
	80%  {fill: rgba(27,174,255,0); stroke: rgba(255,113,249,1); stroke-width: 3; }
	100% {
		fill: rgba(27,174,255,1); stroke: rgba(255,113,249,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}

::selection{
    color: #fff;
    background: rgba(27,174,255,1);
}

.start_btn,
.info_box,
.quiz_box,
.result_box{
    position: relative;
    /* top: 50%; */
    /* left: 50%; */
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
    align-items: center;
}

.info_box.activeInfo{
    opacity: 1;
    margin-left: 4%;
    position: absolute;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);  
}

.result_box.activeResult{
    opacity: 1;
    margin-left: 4%;
    position: absolute;
    z-index: 5;
    margin-top: -900px;
    pointer-events: auto;
    width: auto;
    transform: translate(-50%, -50%) scale(1);
}
.quiz_box.activeQuiz{
    opacity: 1;
    margin-left: 4%;
    position: absolute;
    z-index: 5;
    pointer-events: auto;
    margin-top: -380px;
    /* transform: translate(-50%, -50%) scale(1); */
}


.start_btn {
    top: 77%;
    left: 46%;
    box-shadow: none;
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }

    @-webkit-keyframes bounceInRight {
    0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
    }
    60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
    }
    75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
    }
    90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
    }
    100% {
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes bounceInRight {
    0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
    }
    60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
    }
    75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
    }
    90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
    }
    100% {
    -webkit-transform: none;
    transform: none;
    }
    } 

/* START BUTTON FOR GAME */
.start_btn button{
    font-size: 25px;
    font-weight: 500;
    color: #FF71F9;
    padding: 15px 30px;
    outline: none;
    border: none;
    width:150px;
    height:150px;
    background: #000000;
    cursor: pointer;
}

.start_btn button:hover {
    color: rgba(27,174,255,1);
    opacity: 0.9;
}

.info_box{
    width: auto;
    border:5px solid #FF71F9;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    justify-content: center;
    align-items: center;
    pointer-events:none;
    transition: all 0.3s ease;
    background: #f1f1f1;
   
}

.info_box .info-title{
    height: 60px;
    width: auto;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 500;
}

.info_box .info-list{
    padding: 15px 30px;
}

.info_box .info-list .info{
    margin: 5px 0;
    font-size: 17px;
}

.info_box .info-list .info span{
    font-weight: 600;
    color: rgba(27,174,255,1);
}
.info_box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    border-top: 1px solid lightgrey;
}

.info_box .buttons button{
    margin: 0 5px;
    height: 50px;
    width: 140px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgba(27,174,255,1);
    transition: all 0.3s ease;
}

.quiz_box{
    width: auto;
    border:5px solid #FF71F9;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    background-color: #ffffff;
    z-index: 6;
}

.quiz_box header{
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}

.quiz_box header .title{
    font-size: 20px;
    font-weight: 600;
}

.quiz_box header .timer{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
}

.quiz_box header .timer .time_left_txt{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz_box header .timer .timer_sec{
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #343a40;
    border: 1px solid #343a40;
    user-select: none;
}

.quiz_box header .time_line{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: rgba(27,174,255,1);
}

section{
    padding: 25px 30px 20px 30px;
    background: #fff;
    background: #f1f1f1;
}

section .que_text{
    font-size: 25px;
    font-weight: 600;
}

section .option_list{
    padding: 20px 0px;
    display: flex;   
    flex-direction: column;
}

section .option_list .option{
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .option_list .option:last-child{
    margin-bottom: 0px;
}

section .option_list .option:hover{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
}

section .option_list .option.correct{
    color: #155724;
    background: #d4edda;
    border: 1px solid #c3e6cb;
}

section .option_list .option.incorrect{
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}

section .option_list .option.disabled{
    pointer-events: none;
}

section .option_list .option .icon{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
}
.option_list .option .icon.tick{
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}

.option_list .option .icon.cross{
    color: #a42834;
    background: #f8d7da;
    border-color: #a42834;
}

@media screen and(max-width:547px){
    .svg-text{
        font-size: 60px;
    }
    
}
footer{
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}

footer .total_que span{
    display: flex;
    user-select: none;
}

footer .total_que span p{
    font-weight: 500;
    padding: 0 5px;
}

footer .total_que span p:first-child{
    padding-left: 0px;
}

footer button{
    height: 50px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background: rgba(27,174,255,1);
    border: 1px solid rgba(27,174,255,1);
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}

footer button:hover{
    background-color: rgba(27, 175, 255, 0.532);
    
}

footer button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    height:50px;
    width: 200px;
}

.result_box{
    background: #fff;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    border:5px solid #FF71F9;
}

.result_box .icon{
    font-size: 100px;
    color: rgba(27,174,255,1);
    margin-bottom: 10px;
}

.result_box .complete_text{
    font-size: 20px;
    font-weight: 500;
}

.result_box .score_text span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.result_box .score_text span p{
    padding: 0 4px;
    font-weight: 600;
}

.result_box .buttons{
    display: flex;
    margin: 20px 0;
}

.result_box .buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgba(27,174,255,1);
    transition: all 0.3s ease;
}

.buttons button.restart{
    color: #fff;
    background: rgba(27,174,255,1);
}

.buttons button.restart:hover{
    background: rgba(27,174,255,1);
}

.buttons button.quit{
    color: rgba(27,174,255,1);
    background: #fff;
}

.buttons button.quit:hover{
    color: #fff;
    background: rgba(27,174,255,1);
}

