html{
    scroll-behavior: smooth;
}
.body{
    color: #ccc;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
 body{
        background-image: url(../images/1.webp) ;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .background{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        min-height: 100vh; 
        padding: 0px;
        margin-bottom: 0px;
        box-sizing: border-box;
        box-shadow:inset 0px 150 -100px  rgba(0, 0, 0, 0.993);
        /* filter:brightness(0.7); */
        background-image: url(../images/Hogwarts\ Parallax.png);         
      }
   
      
    .header-background{
        background-color: rgb(24, 19, 19);
        display: block;
        position: fixed;
        width: 100%;
        z-index: 1000;
    }

    .container1{
        width: 100%;
        position: absolute;
        opacity: 100%;
        
    }
    .need{
        width:100%;
        /* border: 5px solid white; */
       
        /* height: 100vh; */
    }
    div.header-background {
        
        background: rgba(7, 7, 22, 0.432);
        /* background: rgba(0, 151, 20, 0); */
    }
    .header-background:hover{
        background: rgba(7, 7, 22, 0.432);
    }
    /* a.Search{
        color: black;
    } */
    .first{
        margin-left: 25px;
    }
    .svg-image{
        margin-left: 30px;
        border-radius: 30%;
    }
    /* .text-end{
        margin-right: -30px;
    } */
    /* @media screen and (width : 750px){
        .text-end{
            margin-left: 50px;
        }
        .svg-image{
            margin-left: 0px;
        }
    } */

    .trans{
        transition: transform 0.5s;width: 90%;  left: 5%; justify-content:center;align-items:center; position: relative; text-align: center; color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word
    }
.trans:hover{
    cursor: pointer;
    transform: scale(1.1);
}


.gallery::-webkit-scrollbar{
    display: none;
}

.h11{
    font-family: 'Dancing Script', cursive;
    margin-left: 10%;
    margin-top: 3%;
    font-size: 50 px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    
 }
.house-name{
    text-align:center;
    margin:10px;
    margin-bottom: 15px;
    font-family: 'Dancing Script', cursive;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 50px;
}
 .house-description{
    font-family: 'Aladin', cursive;
    color: rgb(255, 255, 255);
    font-size: 21px;
 }
 .outer-house-description{
  
            justify-content: center;
            text-align: center;
            align-items: center;
 }
 .house{
    display: flex;
    flex-direction: column;
 }
 .Desktop1{
    margin-top: 10px;
 }
 @import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

 *{
     box-sizing: border-box;
 }
 
 body{
     margin: 0;
 }
 .header{
     text-align: center;
     padding: 32px;
 }
 .header h1{
     font-family: 'Sacramento';
     font-size: 50px;
 }
 
 .row{
     display: flex;
     flex-wrap: wrap;
     padding: 0px 100px 100px 100px;
 }
 .column{
     flex: 25%;
     max-width: 25%;
 }
 .img-hover-zoom{
     height: auto;
     overflow: hidden;
     position: relative;
     border: 5px solid #ffff;
 }
 .img-hover-zoom img{
     vertical-align: middle;
     margin: 0;
     padding: 0;
     border: 0;
     transition:  transform .5s ease;
 }
 .img-hover-zoom:hover img{
   
     opacity: 0.3;
 }
 
 .img-hover-zoom:hover{
     background: rgb(81, 90, 90);
 }
 .middle {
     /* visibility: hidden; */
     transition: .5s ease;
     opacity: 0;
     position: absolute  ;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     text-align: center;
   }
 
   .img-hover-zoom:hover .middle{
     opacity: 1;
   }
  
 
   .text{
     /* background-color: #04AA6D;    */
     color: white;
     font-size: 16px;
         padding: 16px 32px;
   }
 
 @media screen and (max-width: 800px) {
     .column{
         flex: 50%;
         max-width: 50%;
     }
     .Rectangle1{
        flex-direction: column;
    }
    
 }
 @media screen and (max-width: 900px){
    /* .svg-image{
        margin-left: 0px;
    } */
 }
 
 @media screen and (max-width: 500px) {
     .column{
         flex: 100%;
         max-width: 100%;
     }
     
 }

 /*style for quiz_template*/

 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
        .Frame1{
            width: 230px; 
            height: 250px;
            border-radius: 36px;
            background: url(../images/question_mark.jpg);
            background-size: cover;
            background-position: center;
            justify-content: center;
            display: flex;
            overflow: hidden; 
            flex-direction: column;   
            transition: transform 0.5;
        }
        .Frame2{
            width: 230px; 
            height: 250px;
            border-radius: 36px;
            background: url(../images/puzzle.png);
            background-size: cover;
            background-position: center;
            justify-content: center;
            display: flex;
            overflow: hidden; 
            flex-direction: column;   
            transition: transform 0.5;
        }
        .Frame1:hover{
            transform: scale(1.1);
            cursor: pointer;
            transition-delay: 1ms;
        }
        .Frame2:hover{
            transform: scale(1.1);
            cursor: pointer;
            transition-delay: 1ms;
        }
        svg {
            font-family: 'Monoton', cursive;
            
        }
        svg text {
            animation: stroke 1s infinite alternate;
            stroke-width: 2;
            stroke: #FF71F9;
            font-size: 30px;
        }
        .quiz_img img{
           margin-top: -25%;
            width: 230px;
            height: 400px;
        }
        button, input[type="submit"], input[type="reset"] {
            background: none;
            color: inherit;
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;
            outline: inherit;
        }
    
            .Quiz-title{
                font-family: 'Vidaloka', serif;
                font-size: 26px;
                text-align: -webkit-match-parent;
                color: #fff;
            }
            @import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
  

            /*footer*/

             /*footer */
 .lazy-bg.loaded {
    opacity: 1;
    display: flex;

}

.lazy-bg {
    opacity: 0;
    transition: opacity .4s;
}
.footer {
    color: #fcf5e7;
    /* background-image: url(../images/footer.webp); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 10px solid #a85;
    padding: 50px 0 40px;
    position: relative;
    overflow: hidden;
    margin-top: 5%;
    display: block;
}
.footer-logo{
    background-position: center;
    background-size: cover;
    transition: color .25s;
    height: 102px;

}
.footer .footer__wrapper {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 40px;
    position: relative;
}
.footer .footer__menu {
    padding-right: 0;
}
.footer .footer__menu {
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 10%;
    display: flex;
}
a{
    text-decoration: none;
    color: black;
}

/*House of Hogwart*/
.Rectangle1{
    width: 100%; 
    left: 0px;
    top: 0px; 
    border-radius: 5%;
    position: relative; 

    background: linear-gradient(90deg, #37040F 0%, #6B2B2B 46%, rgba(31.66, 19.39, 19.39, 0.27) 100%); 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset ; 
    display:flex;
    margin-bottom: 2%;
    flex-direction:row
}
.Gryffindor1 {
    width: 45%;flex:45%;  left: 0px; top: 0px; position:relative; border-radius: 5% 0% 0 5%;
}
.Slytherin1{
    width: 45%; flex:45%; left: 0px; top: 0px; position: relative; border-radius: 0 5% 5% 0;
}
.Hufflepuff1{
    width: 45%; flex:45%; left: 0px; top: 0px; position: relative;border-radius: 5% 0% 0 5%;
}
.Ravenclaw1{
    width: 45%; flex:45%; left: 0px; top: 0px; position: relative;border-radius: 0 5% 5% 0;
}
.info-div{
    width: 55%; flex:55%;  position: relative
}
.Rectangle2{
    width: 100%; 
    left: 0px; 
    top: 0px; 
    border-radius: 5%;
    position: relative; 
    background: linear-gradient(270deg, #0D2B2B 0%, rgba(33, 69, 67, 0.81) 62%, rgba(31.66, 19.39, 19.39, 0.25) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset; 
    display:flex; 
    margin-bottom: 2%;
    flex-direction:row
}
.Rectangle3{
    width: 100%;
    left: 0px;
    top: 0px; 
    position: relative; 
    border-radius: 5%;
    background: linear-gradient(270deg, rgba(31.66, 19.39, 19.39, 0.27) 0%, rgba(72, 53, 21, 0.84) 43%, #433115 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset ; 
    display:flex; 
    margin-bottom: 2%;
    flex-direction:row
}
.Rectangle4{
    width: 100%; 
    left: 0px; 
    top: 0px; 
    position: relative; 
    border-radius: 5%;
    background: linear-gradient(270deg, #111B27 0%, rgba(38, 54, 79, 0.77) 59%, rgba(31.66, 19.39, 19.39, 0.25) 100%); 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset ; 
    display:flex; 
    margin-bottom: 2%;
    flex-direction:row
}


@media (max-width: 800px) {
   
    .Rectangle1{
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
        border-radius: 5%;
   }
   .Rectangle2{
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 5%;
    border-radius: 5%;
   }
   .Rectangle3{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    border-radius: 5%;
   }
   .Rectangle4{
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 5%;
    border-radius: 5%;
   }
   .info-div{
    width: 100%;
    float: left;
    
   }
   .trans{
    width: 100%;
    float: left;
    left: 0%;
    margin-bottom: 5%;
    margin-top: 2%;
   }
   .trans:hover{
    transform: none;
   }
   .Rectangle3{
    display: flex;
   }
   .Rectangle4{
    display:flex;
   }
   
   .Ravenclaw1{
    width: 100%;
    border-radius: 5% 5% 0 0 ;
   }
   .Hufflepuff1{
    width: 100%;
    border-radius: 5% 5% 0 0 ;
   }
   .Slytherin1{
    width: 100%;
    border-radius: 5% 5% 0 0 ;
   }
   .Gryffindor1{
    width: 100%;
    border-radius: 5% 5% 0 0 ;
   }
}

